<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Recomendaciones</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header class="header">
        <h1>Sistema de Recomendaciones</h1>
    </header>
    <button id="toggle-theme" class="theme-toggle-button">
        Modo <span id="theme-icon">🌙</span> 
    </button>
    <div class="main-content">
    <div class="form-container">
        <h1>Bienvenido</h1>
        <p class="welcome-message"> Hola <span th:text="${nombreUsuario}" style="color: #ffcc00; font-size: 55px;">Usuario</span></p>
        
        <div class="menu-options">
            <a href="/libros" class="menu-button">Libros</a>
            <a href="/peliculas" class="menu-button">Películas</a>
            <a href="/favoritos" class="menu-button">Favoritos</a>
            <a href="/perfil" class="menu-button">Mi Perfil</a>

            <!-- Agregar la opción de Administrado solo si es admin -->
            <a href="/admin" th:if="${isAdmin}" class="menu-button">Administrador</a>
        </div>
        
        <a href="/logout" class="logout">Cerrar Sesión</a>
    </div>
    </div>
    <script src="/theme-toggle.js"></script>
</body>
</html>